@model SuministrosProject.Models.Categoria

@{
    ViewBag.Title = "Edit";
    Layout = null;
}

<div class="" style="text-align:center;">
    <h2>EDIT SUPPLY TYPE</h2>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdCategoria)

        <div class="form-group col-md-6">
            <br />
            <br />
            @Html.Label("SUPPLY TIPE")
            @Html.EditorFor(model => model.CategoriaDescripcion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CategoriaDescripcion, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-6">
            <br />
            <br />
            @Html.Label("DESCRIPTION TYPE")
            @Html.EditorFor(model => model.Observacion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger" })
        </div>

        <div class="form-group modal-footer">
            <br />
            <button type="button" data-dismiss="modal" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" value="save" class="btn btn-primary">Save</button>
        </div>
    </div>
}
