@model SuministrosProject.Models.ProductOrder

@{
    ViewBag.Title = "Delete";
    Layout = null;
}

<div class="" style="text-align:center;">
    <h2>DELETE PRODUCT ORDER</h2>
    <h3>Are you sure you want to delete this?</h3>
    <br />
</div>

<div class="row">
    <hr />
    <dl class="col-md-6">
        <dt>
            <br />
            USER REQUEST
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdGafeteNavigation.Nombre)
        </dd>
    </dl>

    <dl class="col-md-6">
        <dt>
            <br />S
            CODE
        </dt>
        SS
        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>
    </dl>

    <dl class="col-md-6">
        <dt>
            REQUISITION
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requisicion)
        </dd>
    </dl>

    <dl class="col-md-6">
        <dt>
            DESCRIPTION
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>

    <dl class="col-md-6">
        <dt>
            PO CREATION DATE
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
    </dl>
    
    <dl class="col-md-6">
        <dt>
            STATE
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
            <button type="submit" value="delete" class="btn btn-danger">DELETE</button>
        </div>
    }
</div>
