@model IEnumerable<SuministrosProject.Models.ProductOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <br />
        <h2>Lista de Ordenes de compra</h2>
    </div>
</div>

<button type="button" onclick="NewPO()" class="btn btn-secondary" style="font-size:22px; border:none; background-color:#f4f4f4;"><i class="s7-note">Nuevo</i></button>
<br />
<br />
<table id="Tabla-PO" class="table">
    <thead>
        <tr>
            <th class="usuario">
                Usuario
            </th>
            <th class="codigo">
                Codigo
            </th>
            <th class="Req">
                Requisicion
            </th>
            <th class="des">
                Descripcion
            </th>
            <th class="fecha">
                Fecha y hora
            </th>
            <th class="estado">
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="usuario">
                    @Html.DisplayFor(modelItem => item.IdGafeteNavigation.Nombre)  @Html.DisplayFor(modelItem => item.IdGafeteNavigation.Apellido)
                </td>
                <td class="codigo">
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td class="Req">
                    @Html.DisplayFor(modelItem => item.Requisicion)
                </td>
                <td class="des">
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td class="fecha">
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td class="estado">
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @if (item.Estado == "Nueva")
                    {
                        @Html.RouteLink("Add", "IndexDetPO", new { idProdOrder = item.IdProductOrder })
                        @Html.ActionLink(" | Delete", "Delete", new { id = item.IdProductOrder })
                    }
                    @if (item.Estado == "Pendiente")
                    {
                        @Html.RouteLink("Recive ", "IndexDetPO", new { idProdOrder = item.IdProductOrder })
                    }
                    @if (item.Estado == "Cerrada")
                    {
                        @Html.RouteLink("See ", "IndexDetPO", new { idProdOrder = item.IdProductOrder })
                        @Html.ActionLink(" | Delete", "Delete", new { id = item.IdProductOrder })
                    }
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.IdProductOrder }) |
        @Html.ActionLink("Details", "Details", new { id = item.IdProductOrder }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.IdProductOrder })*@
                </td>
            </tr>
        }
    </tbody>
</table>

@*<div id="idAlertPositivePO" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span class="s7-close"></span></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="text-primary"><span class="modal-main-icon s7-check"></span></div>
                    <h3 class="mb-4">Awesome!</h3>
                    <p id="BodyPositivePO"></p>
                    <div class="mt-6">
                        <button type="button" onclick="redireccionarIndexPO()" data-dismiss="modal" class="btn btn-sm btn-space btn-secondary">Acept</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<script src="~/Content/JavaS/ProductOrderFuntions.js"></script>