@model IEnumerable<SuministrosProject.Models.ProductOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div style="text-align:center;">
    <h2>PRODUCT ORDER LIST</h2>
</div>

<button type="button" onclick="NewPO()" class="btn btn-secondary" style="font-size:22px; border:none; background-color:#f4f4f4;"><i class="s7-note">NEW</i></button>
<br />
<br />
<table id="Tabla-PO" class="table table-hover table-striped table-filter-title">
    <thead>
        <tr>
            <th class="usuario">
                USER
            </th>
            <th class="codigo">
                CODE
            </th>
            <th class="Req">
                REQUISITION
            </th>
            <th class="des">
                DesCRIPTION
            </th>
            <th class="fecha">
                DATE
            </th>
            <th class="estado">
                STATE
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="usuario">
                    @Html.DisplayFor(modelItem => item.IdGafeteNavigation.Nombre)  @Html.DisplayFor(modelItem => item.IdGafeteNavigation.Apellido)
                </td>
                <td class="codigo">
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td class="Req">
                    @Html.DisplayFor(modelItem => item.Requisicion)
                </td>
                <td class="des">
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td class="fecha">
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td class="estado">
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @if (item.Estado == "Nueva")
                    {
                        @Html.RouteLink("Add", "IndexDetPO", new { idProdOrder = item.IdProductOrder })
                        @Html.ActionLink(" | Delete", "Delete", new { id = item.IdProductOrder })
                    }
                    @if (item.Estado == "Pendiente")
                    {
                        @Html.RouteLink("Recive ", "IndexDetPO", new { idProdOrder = item.IdProductOrder })
                    }
                    @if (item.Estado == "Cerrada")
                    {
                        @Html.RouteLink("See ", "IndexDetPO", new { idProdOrder = item.IdProductOrder })
                        @Html.ActionLink(" | Delete", "Delete", new { id = item.IdProductOrder })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Content/JavaS/ProductOrderFuntions.js"></script>
