@model IEnumerable<SuministrosProject.Models.Salida>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdSuministroNavigation.Serie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdSuministroNavigation.Serie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaSalida)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.IdSalida }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdSalida })
        </td>
    </tr>
}

</table>
