@model IEnumerable<SuministrosProject.Models.Entrada>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    if (sessionStorage.length == 0 || sessionStorage.getItem("connected") == "false") {
        window.location.href = '/Login/loginGet';
    }
</script>


<br />
<div class="" style="text-align:center;">
    <h2>SUPPLY ENTRY RECORD</h2>
    <br />
    <br />
</div>

<table style="" id="TableEntrada" class="table table-filter-title table-striped table-hover">
    <thead>
        <tr>
            <th>PRODUCT ORDER</th>
            <th>
                PART NUMBER
            </th>
            <th>
                SUPPLY SERIES
            </th>
            <th>LOCATION</th>
            <th>ENTRY DATE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProductOrderNavigation.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNumeroParteNavigation.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerieSuministro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdLocalizacionNavigation.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaEntrada)
                </td>
            </tr>
        }
    </tbody>
</table>
