@model SuministrosProject.Models.NumeroParte

@{
    ViewBag.Title = "Edit";
    Layout = null;
}

<div class="" style="text-align:center;">
    <h2>EDIT PART NUMBER</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdNumeroParte)

        <div class="form-group col-md-6">
            <br />
            <br />
            @Html.Label("PART NUMBER")
            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-6">
            <br />
            <br />
            @Html.Label("MODEL")
            @Html.EditorFor(model => model.Modelo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-6">
            <br />
            <br />
            @Html.Label("BRAND")
            @Html.EditorFor(model => model.Marca, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Marca, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-6">
            <br />
            <br />
            @Html.Label("SUPPLY TYPE")
            @Html.DropDownList("IdCategoria", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdCategoria, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-6">
            <br />
            <br />
            @Html.Label("OBSERVATION")
            @Html.EditorFor(model => model.Observacion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger" })
        </div>

        <div class="form-group modal-footer">
            <br />
            <button type="button" data-dismiss="modal" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" value="save" class="btn btn-primary">Save</button>
        </div>
    </div>
}
