@model IEnumerable<SuministrosProject.Models.NumeroParte>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="" style="text-align:center;">
    <h2>Números de parte de suministros</h2>
</div>
<br />

<button type="button" onclick="NUmberPart()" class="btn btn-secondary" style="font-size:22px; border:none; background-color:#f4f4f4;"><i class="s7-note">New</i></button>
<br />
<br />

<table class="table table-hover table-filter-title table-striped">
    <tr>
        <th>
            Tipo de Suministro
        </th>
        <th>
            # Parte
        </th>
        <th>
            Modelo
        </th>
        <th>
            Marca
        </th>
        <th>
            Observacion
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.CategoriaDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdNumeroParte }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdNumeroParte })
            </td>
        </tr>
    }

</table>

