@model IEnumerable<SuministrosProject.Models.NumeroParte>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="" style="text-align:center;">
    <h2>PART NUMBER LIST</h2>
</div>
<br />

<button type="button" onclick="NewNumberPart()" class="btn btn-secondary" style="font-size:22px; border:none; background-color:#f4f4f4;"><i class="s7-note">NEW</i></button>
<br />
<br />

<table class="table table-hover table-filter-title table-striped">
    <tr>
        <th>
            SUPPLY TYPE
        </th>
        <th>
            # PART
        </th>
        <th>
            MODEL
        </th>
        <th>
            BRAND
        </th>
        <th>
            OBSERVATION
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.CategoriaDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                <a href="#" onclick="EditNumeroParte(@item.IdNumeroParte)"> Edit</a>  |
                <a href="#" onclick="GetDeleteNumeroParte(@item.IdNumeroParte)"> Delete</a>
            </td>
        </tr>
    }
</table>

@*Modal ok*@
<div id="idAlertPositiveNP" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span class="s7-close"></span></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="text-primary"><span class="modal-main-icon s7-check"></span></div>
                    <h3 class="mb-4">Awesome!</h3>
                    <p id="BodyPositiveNP"></p>
                    <div class="mt-6">
                        <button type="button" onclick="redireccionarNumeroParte()" data-dismiss="modal" class="btn btn-sm btn-space btn-primary">Part Number List</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/JavaS/RedirectionsPages.js"></script>
<script src="~/Content/JavaS/NumeroParteFuntions.js"></script>
