@model SuministrosProject.Models.DetallePo

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<div style="text-align:center;">
    <h2>NEW PRODUCT ORDER DETAIL </h2>
    <hr />
    <br />
</div>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="form-group col-md-6">
            @Html.Label("PART NUMBER")
            @Html.DropDownList("IdNumeroParte", null, htmlAttributes: new { @class = "form-control", @id = "idNumberPart" })
            @Html.ValidationMessageFor(model => model.IdNumeroParte, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-6">
            @Html.Label("SUPPLY ORDER QUANTITY")
            @Html.EditorFor(model => model.cantidadPedido, new { htmlAttributes = new { @class = "form-control", @id = "idCantidadPedido" } })
            @Html.ValidationMessageFor(model => model.cantidadPedido, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-6">
            <br />
            @Html.Label("OBSERVATION NOTE")
            @Html.EditorFor(model => model.Observacion, new { htmlAttributes = new { @class = "form-control", @id = "idObservacionDPO" } })
            @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger" })
        </div>


        <input style="display:none;" id="IdproductOrderDet" value="@ViewBag.IdProductOrder" placeholder="Numero de parte" class="form-control">

        <div class="form-group">
            <br />
            <div class="col-md-offset-2 col-md-10">
                <button type="button" onclick="GuardarDetallePO()" class="btn btn-primary">ACEPT</button>
                <button type="button" class="btn btn-rounded btn-space btn-secondary" data-dismiss="modal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CANCEL</font></font></button>
            </div>
        </div>
    </div>
}
<script src="~/Content/JavaS/DetallePOFuntions.js"></script>