@model SuministrosProject.Models.DetallePo

@{
    ViewBag.Title = "Delete";
    Layout = null;
}

    <h3 style="text-align:center;"> DO YOU WANT TO DELETE THE NUMBER PART  " @Html.DisplayFor(model => model.IdNumeroParteNavigation.Descripcion) "   OF THE PO  " @Html.DisplayFor(model => model.IdProductOrderNavigation.Codigo) "</h3>
<div class="form-horizontal">
    <div class="form-group">
        <br />
        <hr />
        <br />
        <dl class="dl-horizontal">
            <dt class="col-md-6">
                PART NUMBER
            </dt>

            <dd class="col-md-6">
                @Html.DisplayFor(model => model.IdNumeroParteNavigation.Descripcion)
                <br />
                <br />
            </dd>

            <dt class="col-md-6">
                ORDER QUANTITY
            </dt>

            <dd class="col-md-6">
                @Html.DisplayFor(model => model.CantidadPendiente)
                <br />
                <br />
            </dd>

            <dt class="col-md-6">
                OBSERVATION
            </dt>

            <dd class="col-md-12">
                @Html.DisplayFor(model => model.Observacion)
                <br />
                <br />
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <button type="submit" onclick="" class="btn btn-rounded btn-danger">DELETE</button>
            <button type="button" class="btn btn-rounded btn-secondary" data-dismiss="modal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CANCEL</font></font></button>
        }


    </div>
</div>

