@model SuministrosProject.Models.DetallePo

@{
    ViewBag.Title = "Delete";
    Layout = null;
}

    <h3 style="text-align:center;">Esta seguro que desea eliminar el numero de parte   " @Html.DisplayFor(model => model.IdNumeroParteNavigation.Descripcion) "   de la PO  " @Html.DisplayFor(model => model.IdProductOrderNavigation.Codigo) "</h3>
<div class="form-horizontal">
    <div class="form-group">
        <br />
        <hr />
        <br />
        <dl class="dl-horizontal">
            <dt class="col-md-6">
                Numero de parte
            </dt>

            <dd class="col-md-6">
                @Html.DisplayFor(model => model.IdNumeroParteNavigation.Descripcion)
                <br />
                <br />
            </dd>

            <dt class="col-md-6">
                @Html.DisplayNameFor(model => model.CantidadPendiente)
            </dt>

            <dd class="col-md-6">
                @Html.DisplayFor(model => model.CantidadPendiente)
                <br />
                <br />
            </dd>

            <dt class="col-md-6">
                @Html.DisplayNameFor(model => model.Observacion)
            </dt>

            <dd class="col-md-12">
                @Html.DisplayFor(model => model.Observacion)
                <br />
                <br />
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @*<div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>*@
            <button type="submit" onclick="" class="btn btn-rounded btn-danger">Eliminar</button>
            <button type="button" class="btn btn-rounded btn-secondary" data-dismiss="modal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cancelar</font></font></button>
        }


    </div>
</div>

