@model SuministrosProject.Models.DetallePo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DetallePo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdProductOrderNavigation.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProductOrderNavigation.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdSuministroNavigation.Serie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdSuministroNavigation.Serie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadRecibida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadRecibida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pendiente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pendiente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadPendiente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadPendiente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDetallePo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
