@model SuministrosProject.Models.Stock

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdSuministroNavigation.Serie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdSuministroNavigation.Serie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entradas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entradas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salidas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salidas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadActual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadActual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pendientes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pendientes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdStock }) |
    @Html.ActionLink("Back to List", "Index")
</p>
