@model SuministrosProject.Models.Salida

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<h2>Salida de suministros</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("Equipo")
                @Html.DropDownList("idEquipo", null, htmlAttributes: new { @class = "form-control", @id = "EquipoID" })
                @Html.ValidationMessageFor(model => model.idEquipo, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<input id="SerieSuministroID" placeholder="Salida" class="form-control">*@

        <div class="form-group">
            <div class="col-sm-10">
                <label class="control-label">Serie del suministro</label>
                <input type="text" id="SerieID" class="form-control" autofocus />
            </div>

            @*<div class="col-md-7">
                    @Html.Label("Serie de Suministro")
                    @Html.EditorFor(null, new { htmlAttributes = new { @class = "form-control", @id = "serieSum" } })
                    @Html.ValidationMessageFor(model => model.SerieSuministro, "", new { @class = "text-danger" })
                </div>*@
        </div>

        <button onclick="PostCrearSalida()" type="button" class="btn btn-rounded btn-space btn-info"><i class="s7-plus"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">  Guardar</font></font></button>

        <br />
        <br />
    </div>
}

@*Modal para una salida correcta
    <div id="idAlertPositiveSalida" tabindex="-1" role="dialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span class="s7-close"></span></button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <div class="text-primary"><span class="modal-main-icon s7-check"></span></div>
                        <h3 class="mb-4">Awesome!</h3>
                        <p id="BodyPositiveSalida"></p>
                        <div class="mt-6">
                            <button type="button" onclick="redireccionarStock()" data-dismiss="modal" class="btn btn-sm btn-space btn-secondary">Stock</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    Modal ok
    <div id="idAlertPositiveS" tabindex="-1" role="dialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span class="s7-close"></span></button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <div class="text-primary"><span class="modal-main-icon s7-check"></span></div>
                        <h3 class="mb-4">Awesome!</h3>
                        <p id="StockBodyPositive"></p>
                        <div class="mt-6">
                            <button type="button" onclick="redireccionarIndex()" data-dismiss="modal" class="btn btn-sm btn-space btn-secondary">Acept</button>
                            <button type="button" onclick="redireccionarStock()" data-dismiss="modal" class="btn btn-sm btn-space btn-primary">Stock</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    Modal error
    <div id="idAlertNegative" tabindex="-1" role="dialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span class="s7-close"></span></button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <div class="text-danger"><span class="modal-main-icon s7-close-circle"></span></div>
                        <h3 class="mb-4">Danger!</h3>
                        <p id="BodyNegative"></p>
                        <div class="mt-6">
                            <button type="button" data-dismiss="modal" class="btn btn-sm btn-space btn-secondary">Acept</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<script src="~/Content/JavaS/salidasFucntion.js"></script>

