@model SuministrosProject.Models.Salida

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<div class="" style="text-align:center;">
    <h2>OUTPUT SUPPLY</h2>
    <br />
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <br />
            <div class="col-md-10">
                @Html.Label("EQUIPMENT")
                @Html.DropDownList("idEquipo", null, htmlAttributes: new { @class = "form-control", @id = "EquipoID" })
                @Html.ValidationMessageFor(model => model.idEquipo, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    
}
<div class="form-group">
    <div class="col-sm-10">
        <label class="control-label">SUPPLY SERIE</label>
        <input type="text" id="SerialNumber" class="form-control focus" />
    </div>
    <br />
    <br />
</div>

<script src="~/Content/JavaS/salidasFucntion.js"></script>
