@model IEnumerable<SuministrosProject.Models.Suministro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="" style="text-align:center;">
    <h2>SUPPLY  LIST</h2>
</div>


<button type="button" onclick="NewSuministroGet()" class="btn btn-secondary" style="font-size:22px; border:none; background-color:#f4f4f4;"><i class="s7-note">NEW</i></button>
<br />
<br />

<table id="suministroTable" class="table table-filter-title table-hover table-striped">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Serie
            </th>
            <th>
                # Part
            </th>
            <th>Location</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdSuministro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Serie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNumeroParteNavigation.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdLocalizacionNavigation.descripcion)
                </td>
                <td>
                    <a href="#" onclick="EditSuministro(@item.IdSuministro)"> Edit</a>  |
                    <a href="#" onclick="GetDeleteSuministro(@item.IdSuministro)"> Delete</a>
                </td>
            </tr>
        }
    </tbody>



</table>

@*Modal ok*@
<div id="idAlertPositive" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span class="s7-close"></span></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="text-primary"><span class="modal-main-icon s7-check"></span></div>
                    <h3 class="mb-4">Awesome!</h3>
                    <p id="BodyPositive"></p>
                    <div class="mt-6">
                        <button type="button" onclick="redireccionarIndex()" data-dismiss="modal" class="btn btn-sm btn-space btn-secondary">Acept</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*Modal delete positive*@
<div id="idAlertPositiveSuministroDelete" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span class="s7-close"></span></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="text-primary"><span class="modal-main-icon s7-close-circle"></span></div>
                    <h3 class="mb-4"> Deleted!</h3>
                    <p id="SuministroDeleteBodyPositive"></p>
                    <div class="mt-6">
                        <button type="button" data-dismiss="modal" class="btn btn-sm btn-space btn-secondary">Acept</button>
                        <button type="button" onclick="redireccionarIndex()" data-dismiss="modal" class="btn btn-sm btn-space btn-primary">Supply List</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/JavaS/SuministrosFuntions.js"></script>
